.App {
  float: left;
  width: calc(100% - 250px);
  height: 98vh;
  background-color: #CCCCCC;
  text-align: center;
}

/* Side bar style */
.Sidebar {
  float: left;
  width: 250px;
  height: 98vh;
  background-color: #e0d9d3;
  z-index: 0;
}

.SidebarList {
  height: 100%;
  width: 100%;
}

.SidebarList .row {
  margin-left: -30px;
  height: 40px;
  width: 230px;
  list-style: none;
  background-color: #f3efdd;
  font-size: 20px;
  font-family: "Comic Sans MS";
}

.SidebarList .row:hover {
  background-color: #e0d9d3;
  cursor:grab;
}

#icon {
  height: 25px;
  width: 25px;
}

/* CalCalculator style */
.option {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: DodgerBlue;
  border-radius: 5px;
}
