.App {
  float: left;
  width: calc(100% - 250px);
  height: 98vh;
  background-color: #e0d9d3;
  text-align: center;
  font-family: "Comic Sans MS";
  z-index: 0;
}

.App #title {
  font-size: 45px;
  height: 80px;
}

/* Side bar style */
.Sidebar {
  float: left;
  width: 250px;
  height: 98vh;
  background-color: #CCCCCC;
}

.SidebarList {
  height: 100%;
  width: 100%;
}

.SidebarList .row {
  margin-left: -30px;
  height: 40px;
  width: 230px;
  list-style: none;
  background-color: #f3efdd;
  font-size: 20px;
  font-family: "Comic Sans MS";
}

.SidebarList .row:hover {
  background-color: #e0d9d3;
  cursor:grab;
}

#icon {
  height: 25px;
  width: 25px;
}

/* Add&Delete style */
.addDelete {
  float: left;
  width: calc(100% - 110px);
  height: 200px;
  margin-top: 20px;
  margin-left: 50px;
  border: solid black 5px;
  background-color: rgb(84, 102, 61);
  text-align: center;
  font-family: "Comic Sans MS";
}

.addDelete .addDeleteTitle {
  font-size: 30px;
  height: 40px;
  width: 100%;
  background-color: #f3efdd;
}

.addDelete #addRestaurantDiv {
  float: left;
  width: 50%;
  height: 40px;
  font-size: 20px;
  background-color: aqua;
}

.addDelete .dropDown {
  background-color: white;
  display: flex;
  position: relative;
  flex-direction: column;
  border: 1px solid gray;
  z-index: 3;
}

.addDelete .dropDown:empty {
  border: none;
}

.addDelete #addMealNameDiv {
  float: left;
  width: 50%;
  height: 40px;
  font-size: 20px;
  background-color: aquamarine;
}

.addDelete #addCaloriesDiv {
  float: left;
  width: 50%;
  height: 40px;
  font-size: 20px;
  /* background-color: blue; */
}

.addDelete #addPriceDiv {
  float: left;
  width: 50%;
  height: 40px;
  font-size: 20px;
  /* background-color: blueviolet; */
}

/* CalCalculator style */
.option {
  font-size: 16px;
  border-radius: 5px;
}
